* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  list-style: none;
}
body {
  text-align: center;
  margin: 0;
  color: whitesmoke;
  min-height: 200vh;
}
.box {
  border: 6px solid white;
  transition: 0.25s ease;
  background: black;
  padding: 10px;
}
p {
  visibility: hidden;
  width: 240px;
  margin: 10 auto 0;
}
.question-click {
  background: rgb(47, 47, 47);
  border-radius: 30px;
  border: 6px dashed pink;
}
